body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: #4708f3;
    padding: 20px;
    text-align: center;
    color: azure;
    font-weight: bold;
}

.topnav {
    overflow: hidden;
    background-color: #f2ff39;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    padding: 20px 160px;
    text-decoration: none;
    transition: 0.5s
}

.topnav a:hover {
    background-color: #c0d123;
    color: azure;
}

.topnav ul {
    list-style-type: none;
}

.colum {
    float: left;
    width: 33.33%;
    padding: 15px;
    background-color: #4708f3;
}

div.gallery {
    margin-left: auto;
    margin-right: auto;
}

div.gallery:hover {
    border: 1px solid rgb(0, 0, 0);
    background-color: #4b18d8;
    transition: 0.5s;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

input[type=text],
select,
textarea,
input[type=password],
input[type=email],
input[type=range] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
}

input[type=submit],
input[type=reset] {
    background-color: #4708f3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-bottom: 25px;
}

input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #794ef0;
    transition: 0.5s;
}

.formContainer {
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 5px;
    background-color: white;
    padding: 20px;

}

.col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
    text-align: right;
}

.col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

.formRow::after {
    content: "";
    display: table;
    clear: both;
    justify-items: flex-start;
}

.leftColum {
    float: left;
    width: 75%;
}

.rightColum {
    float: left;
    width: 25%;
    background-color: #4708f3;
    padding-left: 20px;
    text-align: center;
}

.img {
    background-color: #ccc;
    width: 100%;
    padding: 20px;
    background-size: cover;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row {
    content: "";
    display: table;
    clear: both;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.row::after {
    content: "";
    display: table;
    clear: both;
}


.footer {
    padding: 20px;
    text-align: center;
    background-color: #4708f3;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

.footerSocial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footerSocial > div {
    width: 50px;
    margin: 5px;
    text-align: center;
}

.footerSocial > div > img {
    width: 60px;
}

.footerSocial > div > img:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.footerSocial > div > p {
    font-size: 14px;
}

@media screen and (max-width: 400px) {
    .leftColum,
    .rightColum{
        width: 100%;
        padding: 0;
    }
    .topnav a{
        float: none;
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    .col-20,
    .col-70,
    input[type=submit],
    input[type=reset]{
        width: 100%;
        margin-top: 0;
    }
    .colum {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .leftColum,
    .rightColum{
        width: 100%;
        padding: 0;
    }
}